<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Dados da partida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="!round.gameOver"><strong>Player 1: </strong>{{round.player1}}</p>
      <p *ngIf="!round.gameOver"><strong>Player 2: </strong>{{round.player2}}</p>
      <p *ngIf="!round.gameOver"><strong>Status: </strong>{{round.statusRound.descricao}}</p>
      <p *ngIf="!round.gameOver"><strong>Próximo a jogar:</strong> {{round.next}}</p>      
      <div *ngIf="round.gameOver">
        <span>
          <strong> GameOver </strong>
          <p *ngIf="round.winner">O melhor foi {{round.winner}}</p>
          <p *ngIf="!round.winner">Deu velha!</p>
        </span>
      </div>
    </ion-card-content>
  </ion-card>
  <div id="container">
    <table class="board">
      <tbody>
        <tr *ngFor="let linha of round.board; let i = index">
          <td *ngFor="let coluna of linha; let j = index" [ngStyle]="{'color': coluna == 'x' ? 'red' : 'blue'}" (click)="play(i, j)">{{coluna}}</td>
        </tr> 
      </tbody>
    </table>
    <ion-row>
      <ion-col size="12">
        <ion-button [disabled]="round.gameOver" (click)="presentAlertConfirm()" color="danger" mode="ios" expand="block">
          Abandonar partida
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button [disabled]="!round.gameOver" (click)="sair()" fill="outline" color="danger" mode="ios" expand="block">
          Sair
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>