ion-card{
  border: 0.5px solid red;
}
.board{
    text-align: center;
    font-size: 75px;
    width: 90%;
    margin: 20px;
}

.board tr:nth-child(2){
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}

.board td:nth-child(2), .board td:nth-child(4), .board td:nth-child(7){
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
}

td{
    width: 33rem;
    height: 1.3em;
}

.player-name, .status{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.player-name p{
    margin: 0px;
    padding: 0px;
}

.player-name strong{
    color: red;
}